*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
 
p {
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 21px;
    font-family: 'Karla', sans-serif;
}

.logo {
    width: 20%;
    filter: brightness(0) invert(1);
    margin-top: 60px;
}

.container {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.background {
    width: 100%;
    height: auto;
    position: fixed;
    right: 50%;
    bottom: 0;
    z-index: -100;
    opacity: .2;
}

h1 {
    font-size: 80px;
    margin-bottom: 60px;
}

.sm a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #222222b2;
    line-height: 50px;
    color: #ffffff;
    font-size: 26px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .3s linear;
}

.sm a:hover {
    transform: scale(1.1);
    background-color: #222222;
}